/src2/vendor/google/apiclient-services/src/DiscoveryEngine/GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext.php
/src2/vendor/google/apiclient-services/src/DiscoveryEngine/GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer.php
/src2/vendor/google/apiclient-services/src/DiscoveryEngine/GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment.php
db/
sessions/
.env
